body {
	background: url("images/back2.jpg");
	background-size: cover;
}

img {
	max-width: 100%; /*dont let images escape their parents*/
	
}

#Score {
	color: yellow;
	font-size: 25px;
	text-shadow: 0px 0px 10px blue, 0px 0px 10px blue, 0px 0px 10px blue, 0px 0px 10px blue;

}

#button {
	/*margin-left: 600px;*/
	background-color: #192653;
	color: #FFCB05;
	height: 25px;
	text-align: center;

}

#teamRocket {
	color: red;
	font-size: 20px;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;


}


.card {
	height: 270px;
	min-width: 270px;
	border: 2px solid black;
	perspective: 500px;
	padding: 0px;
/*	margin: 5px;*/
}

.card-holder {
	width: 270px;
	position: relative;
	transform-style: preserve-3d;
	transition: 1s all;
}

.card-front, .card-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	opacity: 0.5;
}

.card-front {
	transform: rotateY(180deg);

}

.card-back {
	background: url('images/poke-logo.png') no-repeat 50%;
	height: 270px;
	min-width: 270px;
}

.flip {
	transform: rotateY(180deg);
}

.matched {
	transform: rotateY(540deg);
}
